@page "/@{username}/edit"
@using txts.Types.Website
@model txts.Pages.EditPage

@{
    Layout = "Layouts/PageLayout";

    Model.Title = $"Edit {Model.PageData.Username}";
}

@if (Model.ErrorMessage != null)
{
    @await Html.PartialAsync("Partials/MessagePartial", MessageEntity.CreateError("Failed to edit page", Model.ErrorMessage))
}

@if (!Model.PageData.IsBanned)
{
    <div class="secondary-container">
        <form method="POST" action="/@@@Model.PageData.Username/edit">
            @Html.AntiForgeryToken()

            <textarea name="content" id="content" placeholder="Markdown-formatted content...">@Model.CurrentContent</textarea>
            <input name="secret" id="secret" placeholder="Page secret (required to save changes)"/>

            <button type="submit">Submit</button>
        </form>
    </div>
}
else
{
    @await Html.PartialAsync("Partials/MessagePartial", MessageEntity.CreateError("Failed to edit page", "This page is banned and cannot be edited."))
}