@page "/"
@using txts.Types.Website
@model txts.Pages.HomePage

@{
    Layout = "Layouts/PageLayout";

    Model.Title = "Home";
}

<div>
    <p>
        Welcome to Txts, a faithful recreation of the txti.es service, written in ASP.NET.
    </p>

    <p>
        Txts allows users to create markdown-based simple web pages. Most of the world still does not have internet,
        but many websites from countries like the United States are big and complicated. This makes it hard for people
        with slow internet to use these sites. It is even harder for those people to put their own thoughts on the
        internet. With Txts, anyone can use any device to share their story.
    </p>

    <p>
        You can get started by entering in your content below.
    </p>

    @if (Model.ErrorMessage != null)
    {
        @await Html.PartialAsync("Partials/MessagePartial", MessageEntity.CreateError("Failed to create page", Model.ErrorMessage))
    }

    <div class="secondary-container">
        <form method="POST" action="/">
            @Html.AntiForgeryToken()

            <input name="username" id="username" autocomplete="off" placeholder="Desired username (i.e. koko, janluna, etc.)"/>
            <textarea name="content" id="content" placeholder="Markdown-formatted content..."></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="tb-padding right">
        <button onclick="window.location.href = '/admin'">Site Administration</button>
    </div>
</div>