@page "/@{username}"
@model txts.Pages.ViewPage

@{
    Layout = "Layouts/PageLayout";

    Model.Title = Model.PageData.Username;

    Model.Description = Model.PageData.Contents.Length > 250
        ? Model.PageData.Contents[..250] + "..."
        : Model.PageData.Contents;

    Model.DisplayTitle = false;
}

<header>
    <a href="/">Txts</a> / @Model.Title
    @if (Model.PageData.IsVerified)
    {
        <span class="verified"
              role="tooltip"
              data-microtip-position="bottom"
              data-microtip-size="large"
              aria-label="This page has been verified by site administrators because the username represents the owner of the page.">
            <i class="fa-solid fa-circle-check"></i>
        </span>
    }
</header>

@switch (Model.Callback)
{
    case "create" when Model.Secret != null:
        <div class="success-message">
            Your page was created successfully. Your page secret is <b>@Model.Secret</b>, which is required to make
            future changes to your page. Do not share this!
        </div>
        break;
    case "edit":
        <div class="success-message">
            Your page was updated successfully.
        </div>
        break;
}

@if (!Model.PageData.IsBanned)
{
    @Html.Raw(Model.PageData.Contents)

    <div class="tb-padding right">
        <a href="/@@@Model.PageData.Username/edit">(edit)</a>
    </div>
}
else
{
    <div class="error-message">
        This page has been banned by a site administrator.
        @if (Model.BanData != null)
        {
            <span style="font-style: italic;">
                (@Model.BanData.Reason)
            </span>
        }
    </div>
}