@model txts.Types.Website.ErrorEntity

<div class="error-message">
    <h2>
        <span class="error-icon">
            <i class="bi bi-exclamation-circle-fill"></i>
        </span>
        @Model.Title
    </h2>
    <span>
        @Model.Message
    </span>
</div>