@page "/admin/login"
@using txts.Types.Website
@model txts.Pages.Administration.AdminLoginPage

@{
    Layout = "Layouts/PageLayout";

    Model.Title = "Admin Login";
}

@if (Model.ErrorMessage != null)
{
    @await Html.PartialAsync("Partials/MessagePartial", MessageEntity.CreateError("Failed to log in", Model.ErrorMessage))
}

@switch (Model.Callback)
{
    case "signup":
        @await Html.PartialAsync("Partials/MessagePartial", MessageEntity.CreateSuccess("Admin account created successfully", "You can now log in with your new account."))
        break;
    case "cleanSessions":
        @await Html.PartialAsync("Partials/MessagePartial", MessageEntity.CreateSuccess("Sessions cleaned up successfully", "You will need to log in again."))
        break;
}

<div class="secondary-container">
    <form method="POST" action="/admin/login">
        @Html.AntiForgeryToken()

        <input type="text" id="username" name="username" placeholder="Username"/>
        <input type="password" id="password" name="password" placeholder="Password"/>

        <button type="submit">Log In</button>
    </form>
</div>