@page "/admin/signup"
@using txts.Types.Website
@model txts.Pages.Administration.AdminSignupPage

@{
    Layout = "Layouts/PageLayout";

    Model.Title = "Admin Signup";
}

@if (Model.ErrorMessage != null)
{
    @await Html.PartialAsync("Partials/MessagePartial", new MessageEntity("Failed to create account", Model.ErrorMessage, MessageType.Error))
}

<div class="secondary-container">
    <form method="POST" action="/admin/signup">
        @Html.AntiForgeryToken()

        <input type="text" id="username" name="username" placeholder="Username"/>
        <input type="password" id="password" name="password" placeholder="Password"/>

        <button type="submit">Create Account</button>
    </form>
</div>