:root {
    --background-color: #ffd6f3;
    --border-radius: 0.5rem;
    --button-padding: 0.3rem 0.5rem;
    --error-color: #ff0000;
    --font: "Itim", "Helvetica Neue", sans-serif;
    --font-size-header: 2rem;
    --font-size-normal: 1rem;
    --margin: 0.5rem;
    --padding: 0.5rem;
    --primary-color: #713e71;
}

* {
    font-family: var(--font);
}

html {
    background-color: var(--background-color);
    font-size: var(--font-size-normal);
}

header {
    font-size: var(--font-size-header);
    margin: var(--margin);
    text-align: center;
}

main {
    margin: auto;
    max-width: 42rem;
}

img {
    max-width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    font-size: var(--font-size-normal);
    padding: var(--button-padding);
}

form input {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: block;
    font-size: var(--font-size-normal);
    margin-bottom: var(--margin);
    padding: var(--padding) 1%;
    width: 97%;
}

form textarea {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: block;
    font-size: var(--font-size-normal);
    height: 20rem;
    margin-bottom: var(--margin);
    padding: var(--padding) 1%;
    resize: none;
    width: 97%;
}

th,
td {
    padding: 0 0.3rem;
    text-align: left;
}

.primary-container {
    margin: var(--margin);
}

.secondary-container {
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin: var(--margin) 0;
    padding: var(--padding);
}

.success-message {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    font-size: 0.8rem;
    margin: var(--margin) 0;
    padding: var(--padding);
}

.error-message {
    border: 1px solid var(--error-color);
    border-radius: var(--border-radius);
    color: var(--error-color);
    font-size: 0.8rem;
    margin: var(--margin) 0;
    padding: var(--padding);
}

.tb-padding {
    padding: var(--padding) 0;
}

.lr-padding {
    padding: 0 var(--padding);
}

.right {
    display: flex;
    float: right;
    justify-content: flex-end;
}

.block {
    display: block;
}

.verified {
    color: var(--primary-color);
    font-size: 1.2rem;
    position: relative;
    bottom: 0.2rem;
}

#quick-actions-input {
    margin: 0;
    padding: var(--button-padding);
    width: 90%;
}
