:root {
    --primary-color: #713e71;
    --error-color: #ff0000;
    --background-color: #ffd6f3;
    --font: "Itim", "Helvetica Neue", sans-serif;
    --font-size-normal: 1rem;
    --font-size-header: 2rem;
    --padding: 0.5rem;
    --button-padding: 0.3rem 0.5rem;
    --margin: 0.5rem;
    --border-radius: 0.5rem;
}

* {
    font-family: var(--font);
}

html {
    font-size: var(--font-size-normal);
    background-color: var(--background-color);
}

header {
    font-size: var(--font-size-header);
    text-align: center;
    margin: var(--margin);
}

main {
    margin: auto;
    max-width: 42rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--button-padding);
    font-size: var(--font-size-normal);
    cursor: pointer;
}

form input {
    width: 97%;
    display: block;
    padding: 0.5em 1%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

form textarea {
    width: 97%;
    height: 20rem;
    display: block;
    padding: var(--padding) 1%;
    margin-bottom: var(--margin);
    font-size: var(--font-size-normal);
    resize: none;
}

th, td {
    text-align: left;
    padding: 0 0.3rem;
}

.primary-container {
    margin: var(--margin);
}

.secondary-container {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: var(--margin) 0;
}

.success-message {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: var(--margin) 0;
    font-size: 0.8rem;
}

.error-message {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: var(--margin) 0;
    font-size: 0.8rem;
}

.tb-padding {
    padding: var(--padding) 0;
}

.lr-padding {
    padding: 0 var(--padding);
}

.right {
    display: flex;
    justify-content: flex-end;
    float: right;
}

.block {
    display: block;
}