@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://unpkg.com/microtip/microtip.min.css");

:root {
    --border-radius: 0.5rem;
    --button-padding: 0.3rem 0.5rem;
    --error-color: #ff0000;
    --font: "Itim", "Helvetica Neue", sans-serif;
    --font-size-header: 2rem;
    --font-size-normal: 1rem;
    --margin: 0.5rem;
    --padding: 0.5rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffd6f3;
        --button-background-color: #713e71;
        --button-foreground-color: white;
        --input-background-color: white;
        --input-foreground-color: black;
        --primary-color: #713e71;
        --text-color: black;
        --text-color-inverse: white;
    }    
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #713e71;
        --button-background-color: #ffd6f3;
        --button-foreground-color: black;
        --input-background-color: black;
        --input-foreground-color: white;
        --primary-color: #ffd6f3;
        --text-color: white;
        --text-color-inverse: black;
    }
}

* {
    font-family: var(--font);
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-normal);
}

header {
    font-size: var(--font-size-header);
    margin: var(--margin);
    text-align: center;
}

main {
    margin: auto;
    max-width: 42rem;
}

img {
    max-width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    background-color: var(--button-background-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--button-foreground-color);
    cursor: pointer;
    font-size: var(--font-size-normal);
    padding: var(--button-padding);
}

form input {
    background-color: var(--input-background-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--input-foreground-color);
    display: block;
    font-size: var(--font-size-normal);
    margin-bottom: var(--margin);
    padding: var(--padding) 1%;
    width: 97%;
}

form textarea {
    background-color: var(--input-background-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--input-foreground-color);
    display: block;
    font-size: var(--font-size-normal);
    height: 20rem;
    margin-bottom: var(--margin);
    padding: var(--padding) 1%;
    resize: none;
    width: 97%;
}

th,
td {
    padding: 0 0.3rem;
    text-align: left;
}

.primary-container {
    margin: var(--margin);
}

.secondary-container {
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin: var(--margin) 0;
    padding: var(--padding);
}

.success-message {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--text-color-inverse);
    font-size: 0.8rem;
    margin: var(--margin) 0;
    padding: var(--padding);
}

.error-message {
    background-color: var(--error-color);
    border-radius: var(--border-radius);
    color: white;
    font-size: 0.8rem;
    margin: var(--margin) 0;
    padding: var(--padding);
}

.success-message h2, .error-message h2 {
    margin: 0;
    padding: 0;
}

.success-message i, .error-message i {
    margin-right: 0.2rem;
}

.verified-icon {
    color: var(--primary-color);
    font-size: 1.2rem;
    position: relative;
    bottom: 0.25rem;
}

.message-icon {
    color: inherit;
    font-size: 1rem;
    position: relative;
}

.message-icon .success {
    color: var(--text-color-inverse);
}

.message-icon .error {
    color: white;
}

.tb-padding {
    padding: var(--padding) 0;
}

.lr-padding {
    padding: 0 var(--padding);
}

.right {
    display: flex;
    float: right;
    justify-content: flex-end;
}

.block {
    display: block;
}

#quick-actions-input {
    margin: 0;
    padding: var(--button-padding);
    width: 90%;
}
